@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
       url("/fonts/Roboto/Roboto-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Roboto_Mono/RobotoMono-Regular.woff2") format("woff2"),
       url("/fonts/Roboto_Mono/RobotoMono-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Roboto_Mono/RobotoMono-Bold.woff2") format("woff2"),
       url("/fonts/Roboto_Mono/RobotoMono-Bold.woff") format("woff");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Mono", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #000;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* box gmail-and-cv */

.gmail-and-cv {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  grid-area: gmail-and-cv;
  justify-self: center;
  width: 330px;
}

.gmail-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: inherit;
}

.gmail-link:hover {
  color: #8000ff;
}

.button-cv {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: inherit;
  background-color: #d9d9d9;
  text-align: center;
  padding: 9px;
  border-radius: 20px;
  width: 80px;
}

.button-cv:hover {
  background-color: #d9d9d988;
}

.button-cv:active {
  background-color: #d9d9d955;
}

.page-header {
  width: 940px;
  margin: 0 auto;
  text-align: center;
}

.header-inner {
  margin-bottom: 69px;
  padding-top: 20px;
}

.page-title {
  font-size: 62px;
  line-height: 95px;
  font-weight: normal;
  letter-spacing: 12px;
}

.main-index {
  display: grid;
  grid-template-columns: repeat(2, 375px);
  grid-template-areas: "yellow-box main-navigation"
                       "yellow-box gmail-and-cv";
  column-gap: 92px;
  width: 940px;
  margin: 0 auto;
  padding-left: 49px;
  padding-right: 49px;
}

.main-portfolio {
  width: 940px;
  margin: 0 auto;
}

.main-about-me {
  width: 940px;
  margin: 0 auto;
}

.yellow-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 4px;
  text-align: center;
  background-color: #ff6;
  height: 375px;
  text-transform: uppercase;
  border-radius: 10px;
  grid-area: yellow-box;

}

.purple-letter {
  color: #8000ff;
  text-shadow: 2px 0px #8767ce;
}

.main-navigation {
  background-color: #14151b;
  grid-area: main-navigation;
  width: 375px;
  height: 275px;
  border-radius: 10px;
}

.main-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation-item {
  display: flex;
  justify-content: space-between;
  width: 365px;
}

.main-navigation-item-сontacts {
  display: flex;
  justify-content: space-between;
}

.main-navigation-link {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 4px;
  text-decoration: none;
  color: inherit;
  background-color: #d9d9d9;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
}

.main-navigation-link-portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 310px;
}

.main-navigation-link-portfolio:hover,
.main-navigation-link-about-me:hover {
  color: #fff;
  background-color: #b000ff;
}

.main-navigation-link-portfolio:active,
.main-navigation-link-about-me:active {
  color: #fff;
  background-color: #9000ff;
}

.main-navigation-link-portfolio:focus,
.main-navigation-link-about-me:focus {
  color: #fff;
  background-color: #9000ff;
}

.button {
  height: 55px;
  border-radius: 10px;
}

.button-telegram,
.button-github,
.button-vk {
  display: flex;
  border-radius: 10px;
}

.main-navigation-link-about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 310px;
}

.main-navigation-link-contacts {
  display: flex;
  align-items: center;
  height: 55px;
  width: 155px;
}

.vector-image {
  background-color: #ff6;
  border-radius: 10px;
}

.vector-image-portfolio:hover,
.vector-image-about-me:hover {
  fill: #fff;
  background-color: #b000ff;
}

.vector-image-portfolio:active,
.vector-image-about-me:active {
  fill: #fff;
  background-color: #9000ff;
}

.vector-image-portfolio:focus,
.vector-image-about-me:focus {
  fill: #fff;
  background-color: #9000ff;
}

.vector-image-telegram:hover {
  fill: #fff;
  background-color: #0d83be;
}

.vector-image-github:hover {
  fill: #fff;
  background-color: #010101;
}

.vector-image-vk:hover {
  fill: #fff;
  background-color: #2d78f7;
}

.list-buttons-contacts {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 205px;
}

.item-button-contact {
  height: 55px;
}

/* nav for portfolio and about-me */

.navigation {
  display: flex;
  align-items: baseline;
  width: 940px;
  margin: 0 auto;
}

.wrapper-navigation-list {
  display: flex;
  margin-left: auto;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 303px;
  list-style: none;
}

.navigation-list-contacts {
  max-width: 116px;
  margin-left: 20px;
}

.navigation-link-logo {
  text-decoration: none;
  color: #000;
}

.navigation-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 5px;
  margin: 0;
}

.navigation-title:hover {
  color: #000000aa;
}

.navigation-link {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #000;
}

.navigation-link-decorated:hover {
  color: #8000ff;
  fill: #8000ff;
}

.navigation-link-current {
  color: rgba(0, 0, 0, 0.5);
}

.link-github,
.link-telegram,
.link-vk {
  border-radius: 20px;
}

/* portfolio */

.projects-list {
  display: grid;
  grid-template-columns: repeat(3, 310px);
  column-gap: 5px;
  row-gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.project-link {
  text-decoration: none;
  color: #000;
  text-align: center;
}

.project-card {
  width: 310px;
}

.project-card:hover {
  outline: 2px solid #b5b8b111;
  outline-offset: -2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
}

.project-card:active {
  outline: 2px solid #b5b8b177;
  outline-offset: -2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
}

.project-card:focus {
  outline: 2px solid #b5b8b177;
  outline-offset: -2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
}

.project-card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  padding-top: 25px;
}

.borodinski-card-image {
  width: 310px;
  height: 290px;
  background-image: url("/img/decorative/vectors/borodinski-logo.svg"),
                    url("/img/decorative/borodinski-interer.png");
  background-color: #000;
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 50%, 0px 0px;
  background-size: 310px 158px, 100% 100%;
}

.device-card-image {
  width: 310px;
  height: 290px;
  background-image: url("/img/decorative/vectors/device-logo.svg");
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 250px 100px;
}

.sedona-card-image {
  width: 310px;
  height: 290px;
  background-image: url("/img/decorative/vectors/sedona-logo.svg"),
                    url("/img/decorative/sedona-index-background.png");
  background-color: #97c1da;
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 50%, 48% 20%;
  background-size: 263px 160px, auto auto;
}

.borodinski-title {
  color: #af7842;
  text-transform: uppercase;
}

.device-title {
  color: #ffc700;
}

.sedona-title {
  color: #83b3d3;
  text-transform: uppercase;
}

/* about-me */

.about-me {
  display: grid;
  grid-template-columns: 550px 336px;
  grid-template-areas: "portret title"
                       "portret about-me-text"
                       "gmail-and-cv about-me-text"
                       "gmail-and-cv about-me-text";
  column-gap: 54px;
}

.about-me-title {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 400;
  grid-area: title;
  margin: 0;
}

.portret {
  grid-area: portret;
}

.wrapper-text {
  grid-area: about-me-text;
}

.about-me-text {
  font-size: 16px;
  line-height: 24px;
}
